* { 
  padding: 0%; 
}

.text-color {
  color: #fff;
}

.background-color {
  background-color: #e3f2fd;
}


/* set form element to table so that we can style it */
.btn-form {
  width: 100%;
}

.footer-body {
  height: 20px;
}