* { 
  padding: 0%; 
}

body {
  font-family: 'Roboto', sans-serif;
}

.text-color {
  color: #fff;
}

/* .background-color {
  background-color: #e3f2fd;
} */


/* set form element to table so that we can style it */
.btn-form {
  width: 100%;
}

/* .footer-body {
  height: 20px;
} */



/* Profile Images Styled in footer  */

#profileImage {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: cover;
}

/* animation changes */

.animation-style {
  --animate-duration: 800ms;
  --animate-delay: s;
  
}